<!DOCTYPE HTML>
<!--
    Fermata Server
    코로나19 실시간 접촉자 확인알림서비스
-->
<html>
	<head>
		<title>Fermata</title>
		<meta charset="utf-8"/>
		<link rel="shortcut icon" href="assets/image/icon/Fermata.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />


	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a class="logo">Fermata</a>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>나도 혹시.. 확진자와 접촉을?</h1>
					<p>혹시모를 전염병 확진자와의 접촉, 이제 안심하고 확인하세요!</p>
					<ul class="actions">
						<li><a href="" class="button scrolly">Fermata 설치</a></li>
					</ul>
				</div>
            </section>
            
            <hr>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3 style="margin-bottom: 0px;">1. 앱을 켜세요</h3>
							<p>앱이 주위에 있는 사람들을 탐색합니다.</p>
						</div>
						<div>
							<h3 style="margin-bottom: 0px;">2. 손쉽게 알림을 받으세요</h3>
							<p>당신이 접촉한 사람들 중 확진자가 있다면 앱에서 경고가 울립니다!</p>
						</div>
					</div>
					<div class="flex-item image fit">
						<img src="assets/image/others/gasmask.png" alt="" />
					</div>
					<div class="flex-item right">
						<div>
							<h3 style="margin-bottom: 0px;">3. 자가격리 또는 검사를 받아보세요</h3>
							<p>확진자와 접촉했다면 위험할수도 있습니다.<br>모두의 안전을 위해 1339로 전화해보세요.</p>
						</div>
						<div>
							<h2 style="margin-bottom: 0px; margin-top: 10px;">간단하죠?</h2>
							<p>이제 행동으로 옮길 차례입니다!</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>팀원 소개</h2>
					<figure>
					    <blockquote>
					        이 서비스를 빛낸 저희 팀원을 소개합니다!
					    </blockquote>
					</figure>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner flex flex-3">

					<div class="flex-item box">
						<div class="content" style="padding-bottom: 5px;">
                            <h3 style="margin-bottom: 0px;">Cyflux</h3>
                            <p style="margin-bottom: 5px;">안드로이드 개발</p>
                            <hr style="margin: 5px 0px;">
                            <div style="text-align: right;">
								<img style="height: 20px;" src="assets/image/icon/ICO_ANDROID.png" title="ANDROID">
								<img style="height: 20px;" src="assets/image/icon/ICO_FB.png" title="FIREBASE">
								<img style="height: 20px;" src="assets/image/icon/ICO_JAVA.png" title="JAVA">
                            </div>
						</div>
                    </div>

                    <div class="flex-item box">
						<div class="content" style="padding-bottom: 5px;">
                            <h3 style="margin-bottom: 0px;">CRUSHU</h3>
                            <p style="margin-bottom: 5px;">서버 및 관리앱</p>
                            <hr style="margin: 5px 0px;">
                            <div style="text-align: right;">
								<img style="height: 20px;" src="assets/image/icon/ICO_KT.png" title="KOTLIN">
								<img style="height: 20px;" src="assets/image/icon/ICO_NODEJS.png" title="NODE.JS">
								<img style="height: 20px;" src="assets/image/icon/ICO_TS.png" title="TYPESCRIPT">
                            </div>
						</div>
					</div>
					
					<div class="flex-item box">
						<div class="content" style="padding-bottom: 5px;">
                            <h3 style="margin-bottom: 0px;">donghankwon</h3>
                            <p style="margin-bottom: 5px;">iOS 개발</p>
                            <hr style="margin: 5px 0px;">
							<div style="text-align: right;">
								<img style="height: 20px;" src="assets/image/icon/ICO_IOS.png" title="iOS">
                                <img style="height: 20px;" src="assets/image/icon/ICO_CPP.png" title="C++">
                            </div>
						</div>
                    </div>

                    <div class="flex-item box">
						<div class="content" style="padding-bottom: 5px;">
                            <h3 style="margin-bottom: 0px;">KD4</h3>
                            <p style="margin-bottom: 5px;">서버 개발</p>
                            <hr style="margin: 5px 0px;">
                            <div style="text-align: right;">
								<img style="height: 20px;" src="assets/image/icon/ICO_JAVA.png" title="JAVA">
								<img style="height: 20px;" src="assets/image/icon/ICO_NODEJS.png" title="NODE.JS">
								<img style="height: 20px;" src="assets/image/icon/ICO_JS.png" title="JAVASCRIPT">
                            </div>
						</div>
					</div>

                    <div class="flex-item box">
						<div class="content" style="padding-bottom: 5px;">
                            <h3 style="margin-bottom: 0px;">TaeHyun</h3>
                            <p style="margin-bottom: 5px;">안드로이드 개발</p>
                            <hr style="margin: 5px 0px;">
							<div style="text-align: right;">
								<img style="height: 20px;" src="assets/image/icon/ICO_ANDROID.png" title="ANDROID">
                                <img style="height: 20px;" src="assets/image/icon/ICO_JAVA.png" title="JAVA">
                            </div>
						</div>
					</div>
                
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>정보</h2>
					<ul class="actions">
						<li><span class="icon fa-envelope"></span> <a href="mailto:cyflux@gmail.com">cyflux@gmail.com</a></li>
						<li><span class="icon fa-map-marker"></span> <a href="https://github.com/TracetogetherKorea">GITHUB : TracetogetherKorea</a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Fermata Korea. Designed by <a href="https://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>